<template name="home">
  	<section class="mobile-wrapper w-section">
  		<div class="page-content" id="main-stack">
  			<!-- Header -->
  				{{> header}}
  			<!-- End Header -->
  			<!-- Body -->
  				<div class="body">
			        <div class="home-content">
			          	<div class="home-slider w-slider" data-animation="slide" data-autoplay="1" data-delay="4000" data-duration="500" data-infinite="1" data-nav-spacing="5">
			            	<div class="w-slider-mask">
			            		<div class="slide w-slide" style="transform: translateX(0px); opacity: 1; transition: transform 500ms;"></div>
			            		<div class="bg2 slide w-slide" style="transform: translateX(0px); opacity: 1; transition: transform 500ms;"></div>
			            		<div class="bg3 slide w-slide" style="transform: translateX(-1026px); opacity: 1; transition: transform 500ms;">
			            			
			            	</div>
			            </div>
			            <div class="arrow-icon w-slider-arrow-left">
			              <div class="w-icon-slider-left"></div>
			            </div>
			            <div class="arrow-icon w-slider-arrow-right">
			              	<div class="w-icon-slider-right"></div>
			            </div>
			            <div class="slider-bullets w-round w-slider-nav">
			            	<div class="w-slider-dot w-active" data-wf-ignore="" style="margin-left: 5px; margin-right: 5px;"></div>
			            	<div class="w-slider-dot" data-wf-ignore="" style="margin-left: 5px; margin-right: 5px;"></div>
			            	<div class="w-slider-dot" data-wf-ignore="" style="margin-left: 5px; margin-right: 5px;">			            		
			            </div>
			        </div>
			    </div>
			</div>
			<!-- Title -->
			<div class="no-borders text-new">
              	<div>
                	<div class="separator-fields"></div>
                	<h1 class="title-new text-center">BROWSE BY CATEGORY</h1>
                	<div class="separator-fields"></div>
                	<div class="separator-button"></div>
              	</div>
            </div>
			<!-- -->
			    <!-- Fillter -->
		    	<div class="grey-header w-clearfix">
		          	<h2 class="grey-heading-title">Fillter</h2>
		          	<div class="options-new tighter">
		            	<a class="grey icon-only p-r small-button w-clearfix w-inline-block" href="#" id="grid-1-column">
			              	<div class="icon-button">
			                	<div class="icon-grid-cols w-clearfix">
				                  	<div class="_1-col icon-grid-item"></div>
				                  	<div class="_1-col icon-grid-item"></div>
				                  	<div class="_1-col icon-grid-item"></div>
				                </div>
		              		</div>
		            	</a>
			            <a class="grey icon-only p-r selected small-button w-clearfix w-inline-block" href="#" id="grid-2-columns">
			              	<div class="icon-button">
				                <div class="icon-grid-cols w-clearfix">
				                  	<div class="_2-cols icon-grid-item"></div>
				                  	<div class="_2-cols icon-grid-item last"></div>
				                  	<div class="_2-cols icon-grid-item"></div>
				                  	<div class="_2-cols icon-grid-item last"></div>
				                </div>
			              	</div>
			            </a>
			            <!-- <a class="grey icon-only small-button w-clearfix w-inline-block" href="#" id="grid-3-columns">
				            <div class="icon-button">
				                <div class="icon-grid-cols p-l w-clearfix">
					                  <div class="icon-grid-item"></div>
					                  <div class="icon-grid-item"></div>
					                  <div class="icon-grid-item"></div>
					                  <div class="icon-grid-item"></div>
					                  <div class="icon-grid-item"></div>
					                  <div class="icon-grid-item"></div>
					                  <div class="icon-grid-item"></div>
					                  <div class="icon-grid-item"></div>
					                  <div class="icon-grid-item last"></div>
				                </div>
				            </div>
			            </a> -->
		          	</div>
		        </div>
			    <!-- End Fillter -->
			    <!-- Product List -->
			    	<div class="portfolio-gallery w-clearfix">
				        <a class="portfolio-item w-inline-block w-lightbox" href="#">
				            <div class="portfolio-image">
				            	<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSVQXq-ew68bXvA7D5awhKzY1jiuszlny636sxzCX_czMumznjpGw">
				            </div>
				            <div class="group-title">
                            	<div class="title-text">Paradize</div>
                          	</div>
				        </a>
				        <a class="portfolio-item w-inline-block w-lightbox" href="#">
				            <div class="portfolio-image">
				            	<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT2kGI3dzvIvzBsid0AY3PjSh0YHjsL6ZudDuK85dRGwFUGwQkpvw">
				            </div>
				            <div class="group-title">
                            	<div class="title-text">Ysl</div>
                          	</div>
				        </a>
				        <a class="portfolio-item w-inline-block w-lightbox" href="#">
				            <div class="portfolio-image">
				            	<img src="https://s-media-cache-ak0.pinimg.com/564x/4a/97/b5/4a97b5d56b3a4ea24751e803d4253116.jpg">
				            </div>
				            <div class="group-title">
                            	<div class="title-text">Clarin</div>
                          	</div>
				        </a>
				        <a class="portfolio-item w-inline-block w-lightbox" href="#">
				            <div class="portfolio-image">
				            	<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQS295fVBP9hWU5-ISmzbU1zsr2cl2OMobxqDYWtY2sxM7iPtU3">
				            </div>
				            <div class="group-title">
                            	<div class="title-text">Dior</div>
                          	</div>
				        </a>
				    </div>
			    <!-- End Product -->
			</div>
  		<!-- End Body -->
  		</div>
  		<div class="loading-mask page-content stop-loading" id="new-stack">
	      	<div class="loading-icon">
	        	<div class="icon ion-load-d navbar-button-icon"></div>
	      	</div>
	    </div>
  	</section>
</template>